*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-image: url(img/bg.png);
  background-size: 25rem 25rem;
  color: #333;
}

.container {
  max-width: 62.5rem;
  margin-right: auto;
  margin-left: auto;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #dbc7c9;
  padding: 0.5rem 0;
}

main {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

footer {
  background-color: #dbc7c9;
  height: 4rem;
}

.brand {
  display: flex;
  align-items: center;
}

.brand__logo {
  width: 2rem;
  height: 2rem;
  background-image: url(img/icon.svg);
  background-size: contain;
}

.brand__name {
  margin-left: 0.5rem;
  font-weight: 900;
  font-size: 1.2rem;
}

button {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 1rem;
  border: 2px solid #dbc7c9;
  padding: 0.25rem 0.5rem;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1);
}

.form-fields {
  display: flex;
  gap: 0.25rem;
}

.field-input {
  display: inline-block;
  border: none;
  border-bottom: 2px solid #f67e79;
  background-color: transparent;
}

.field-input:focus {
  border-bottom: 2px solid black;
  outline: none;
}

.form-controls {
  margin-top: 0.5rem;
  text-align: right;
}
